<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
    <title>Processo: {{ processo.numero}}</title>

</head>
<body>
    <h1>Processo: {{ processo.numero}}</h1>

    <a href="feed">Feed Atom</a>

    <h2>Movimentos:</h2>

    <ul>
        {% for movimento in processo.movimentos %}
        <li><strong>{{ movimento.data.strftime('%d/%m/%Y') }} - {{ movimento.tipo }}</strong></li>
            {% if movimento.outros %}
                <ul>
                    {% for k, v in movimento.outros.items() %}
                    <li>
                        {% if k %}
                        <strong>{{ k }}</strong>: 
                        {% endif %}
                        {{ v }}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
        
    </body>
</html>
